.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* header */

header {
    width: 100%;
    padding: 47px 0 47px;
    background-color: #13345B;
    display: flex;
    justify-content: center;
}

.headerContent {
    width: 91%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 52px;
}

li a {
    font-weight: 700;
    font-size: 36px;
    color: #FDD504;
    transition-property: all;
    transition-duration: 0.5s;
}

li a:hover {
    color: red;
    transform: scale(0.8);
    /* am scales ar aketebs, arvici rato */
}

.fa-cart-shopping {
    color: yellow;
}

/* form 1 */

.form1 {
    width: 91%;
    margin: 114px auto 120px auto;
}

.inputDiv {
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    padding: 20px 0 20px 2px;
    border: none;
    background-color: #B3E9F5;
}

label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #13345B;
}


h2 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 88px;
    color: #13345B;
    text-align: center;
}


.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* form2 */

.form2 {
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

p {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #15C1E7;
}

.row2>.row2Content>.option>input {
    width: 32px;
    height: 32px;
}

.row2>.row2Content>.option>label {
    font-weight: 700;
    font-size: 20px;
    color: #13345B;
}

.row2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.row2Content {
    display: flex;
    gap: 60px;
}

.option {
    display: flex;
    align-items: center;
    gap: 16px;
}

input[type="file"] {
    font-weight: 400;
    font-size: 32px;
}

/* form3 */

.form3 {
    width: 91%;
    display: flex;
    justify-content: space-between;
    margin-top: 121px;
    margin-bottom: 128px;
}

.form3Buttons {
    width: 49%;
    padding: 32px 0;
    font-weight: 700;
    font-size: 36px;
    border-radius: 15px;
    border: none;
}

#submit {
    background-color: #FDD504;
}

#reset {
    background-color: #15C1E7;
}

/* footer */

footer {
    width: 100%;
    padding: 60px 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13345B;
}

.icons {
    display: flex;
    gap: 60px;
}

footer>div>a>img:hover {
    animation: forIcons 0.2s linear forwards;
}

@keyframes forIcons {
    0% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(360deg) scale(1.5);
    }

}